# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary name from your project
robot-control
robot-controller

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out